@namespace Flatify.Forms
@inherits FlatInputBase<bool>

@switch (YesNoType)
{

	case YesNoType.SelectList:
		break;
	case YesNoType.Checkbox:
		<label class="checkbox-wrapper" @attributes="@UserAttributes">
			<input type="checkbox" @bind="@CurrentValue" />
			<span class="check"></span>
			@Label
		</label>
		break;
	case YesNoType.Radio:
		break;
	case YesNoType.Switch:
		break;
	default:
		throw new ArgumentOutOfRangeException();
}