@namespace Flatify.Forms
@inherits FlatComponentBase

<form @attributes="@UserAttributes" class="@Classname">
	@* <CascadingValue Value="this" IsFixed="true"> *@
	@* 	<CascadingValue Value="@GetDisabledState" Name="ParentDisabled"> *@
	@* 		<CascadingValue Value="@GetReadOnlyState" Name="ParentReadOnly"> *@
	@* 			@ChildContent *@
	@* 		</CascadingValue> *@
	@* 	</CascadingValue> *@
	@* </CascadingValue> *@
</form>