@namespace Flatify
@inherits FlatComponentBase

<table class="@Classname">
	@if (!string.IsNullOrEmpty(CaptionText))
	{
		<caption>
			@CaptionText
		</caption>
	}
	<thead>
	<tr>
		@TableHeaders
	</tr>
	</thead>
	<tbody>
	<CascadingValue Value="this">
		@TableData
	</CascadingValue>
	</tbody>
</table>