@namespace Flatify
@inherits FlatComponentBase

<div @attributes="@UserAttributes" class="@Classname" style="@Stylename">
	@ChildContent
	@* <button class="button">Click Here</button> *@
	@* <button class="button style-success">Click Here</button> *@
	@* <button class="button style-info active">Click Here</button> *@
	@* <button class="button style-warning">Click Here</button> *@
	@* <button class="button style-danger">Click Here</button> *@
</div>