@namespace Flatify
@inherits FlatItemsControlBase<AccordionItem>

<div @attributes="@UserAttributes" class="@Classname" id="@(Guid.NewGuid().ToString())" style="@Style">
	<CascadingValue Value="this" IsFixed="true">
		@ChildContent
	</CascadingValue>
</div>