@namespace Flatify
<main style="flex: 1 0 auto;">
	@if (LayoutHeader != null)
	{
		<header>
			@LayoutHeader
		</header>
	}

	<div class="@MainClassname" style="min-height: 100vh;">
		<div class="@("container-xxl")">
			@MainContent
		</div>
	</div>
	@if (LayoutFooter != null)
	{
		<footer class="@FooterClassname">
			@LayoutFooter
		</footer>
	}

</main>